body{
  margin: 0;
  background-image: linear-gradient(rgb(75, 0, 125), rgb(128, 18, 26));
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: rgb(122, 231, 199);
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid blue;
  position: sticky;
  z-index:3;
  top: 0;
  padding: 3px;
  background-color: white;
}
.top{
  padding: 10px;
}

.options{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.box{
  display: flex;
  flex-direction: column;
  margin: 2% 5px;
  width: 45%;
  height: 30vh;
  background-color: grey;
  
}
.boxtext{
  display: flex;
  align-content: center;
  justify-content: center;
}
p{
  margin: 0;
  color: rgb(122, 231, 199);
}
.image{
  overflow: hidden;
  height: 25vh;
  width: 100%;
}
.image img{
  transition: 0.5s;
  width: 100%;
}
.image img:hover{
  transform: scale(1.06);
}

@media screen and (max-width: 700px){
.options{
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}
.box{
  width: 65%;
  height: 30vh;
}
}